@model ASPsportsAPI.Models.LeagueDetailed



<h1>League Informations</h1>
<p>Here are the details about the league.</p>

<div>
    <h4>League Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idLeague)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idLeague)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idAPIfootball)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idAPIfootball)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strSport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strSport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLeague)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strLeague)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLeagueAlternate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strLeagueAlternate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDivision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDivision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strCurrentSeason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strCurrentSeason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intFormedYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intFormedYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateFirstEvent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateFirstEvent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFacebook)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strFacebook)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strTwitter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strTwitter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strYoutube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strYoutube)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strRSS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strRSS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDescriptionEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDescriptionEN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strDescriptionFR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strDescriptionFR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFanart1)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content(Model.strFanart1)" alt="Image" />
            @*@Html.DisplayFor(model => model.strFanart1)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFanart2)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strFanart2)" alt="Image" />
            @*@Html.DisplayFor(model => model.strFanart2)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFanart3)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strFanart3)" alt="Image" />
            @*@Html.DisplayFor(model => model.strFanart3)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strFanart4)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strFanart4)" alt="Image" />
            @*@Html.DisplayFor(model => model.strFanart4)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strBanner)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strBanner)" alt="Image" />
            @*@Html.DisplayFor(model => model.strBanner)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strBadge)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strBadge)" alt="Image" />
            @*@Html.DisplayFor(model => model.strBadge)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLogo)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strLogo)" alt="Image" />
            @*@Html.DisplayFor(model => model.strLogo)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strPoster)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strPoster)" alt="Image" />
            @*@Html.DisplayFor(model => model.strPoster)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strTrophy)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Content(Model.strTrophy)" alt="Image" />
            @*@Html.DisplayFor(model => model.strTrophy)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strNaming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strNaming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strComplete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strComplete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.strLocked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.strLocked)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Leagues">Back to List</a>
</div>
