@model List<ASPsportsAPI.Models.League>



<div class="">
    <h1>Leagues</h1>
    <p>You can access the league informations.</p>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().strLeague)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().strLeagueAlternate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().strSport)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.strLeague)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strLeagueAlternate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.strSport)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "LeagueInformations", new { leagueId = item.idLeague })
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>